/* HEADER */
html,
body {
  overflow-x: hidden;
}

.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);

  padding: 0.5rem 1rem;

  z-index: 2000;
}

.header.menu-open {
  position: fixed;
  top: 0;
  left: 0;
}

/* LOGO */
.logo img {
  width: 150px;
  height: auto;
  display: block;
}

/* MENU KNAP */
.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-btn img {
  width: 75px;
  height: auto;
  transition: 0.3s ease;
}

.menu-btn:hover img {
  transform: scale(1.05);
}

/* FULLSCREEN MENU */
.fullscreen-menu {
  position: fixed;
  inset: 0;

  background: var(--primary);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6rem 1.5rem 8rem;
  box-sizing: border-box;

  min-height: 100dvh;

  overflow-y: auto;

  opacity: 0;
  visibility: hidden;

  transition: 0.3s ease;

  z-index: 999;
}

.fullscreen-menu.active {
  opacity: 1;
  visibility: visible;
}

/* NAVIGATION */
.fullscreen-menu nav ul {
  list-style: none;
  text-align: center;
}

.fullscreen-menu nav ul li {
  margin: 0.5rem 0;
}

.fullscreen-menu nav ul li a {
  text-decoration: none;

  font-family: var(--font-h2);
  font-size: 4rem;
  font-weight: 400;

  color: var(--background);

  line-height: 0.9;
}

/* MENU FOOTER */
.menu-footer {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}

.menu-footer p {
  color: var(--background);
  font-size: 1rem;
  line-height: 1.1;
}

/* SOCIALS */
.socials {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;

  text-align: right;
}

.socials a {
  display: block;

  text-decoration: none;

  font-family: var(--font-p);
  font-size: 1rem;

  color: var(--background);
}

@media (min-width: 768px) {
  .header {
    padding: 0 2rem;
    align-items: flex-start;
  }

  .logo img {
    height: 175px;
    width: auto;
  }

  .menu-btn img {
    height: 110px;
    width: auto;
  }

  .fullscreen-menu nav ul li a {
    font-size: 5rem;
  }
}
